In [25]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("C:/Users/Kowsalya/Downloads/uber_rides_data.xlsx - sample_train.csv")

In [4]:
print(df.head())

    ride_id  fare_amount          pickup_datetime  pickup_longitude  \
0  24238194          7.5  2015-05-07 19:52:06 UTC        -73.999817
1  27835199          7.7  2009-07-17 20:04:56 UTC        -73.994355
2  44984355         12.9  2009-08-24 21:45:00 UTC        -74.005043
3  25894730          5.3  2009-06-26 08:22:21 UTC        -73.976124
4  17610152         16.0  2014-08-28 17:47:00 UTC        -73.925023

   pickup_latitude  dropoff_longitude  dropoff_latitude  passenger_count
0        40.738354         -73.999512         40.723217                1
1        40.728225         -73.994710         40.750325                1
2        40.740770         -73.962565         40.772647                1
3        40.790844         -73.965316         40.803349                3
4        40.744085         -73.973082         40.761247                5

In [5]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ride_id            200000 non-null  int64
 1   fare_amount        200000 non-null  float64
 2   pickup_datetime    200000 non-null  object
 3   pickup_longitude   200000 non-null  float64
 4   pickup_latitude    200000 non-null  float64
 5   dropoff_longitude  199999 non-null  float64
 6   dropoff_latitude   199999 non-null  float64
 7   passenger_count    200000 non-null  int64
dtypes: float64(5), int64(2), object(1)
memory usage: 12.2+ MB
None

In [6]:
shape = df.shape

In [7]:
print("The shape of the dataset is:", shape)

The shape of the dataset is: (200000, 8)

In [10]:
integer_columns = df.select_dtypes(include=['int64'])
num_integer_columns = integer_columns.shape[1]
print("Number of integer columns (by default):", num_integer_columns)

Number of integer columns (by default): 2

In [11]:
missing_values = df['dropoff_longitude'].isna().sum()
print("Number of missing values in 'dropoff_longitude' column:", missing_values)

Number of missing values in 'dropoff_longitude' column: 1

In [12]:
pickup_datetime_dtype = df['pickup_datetime'].dtype
print("Data type of 'pickup_datetime' feature:", pickup_datetime_dtype)

Data type of 'pickup_datetime' feature: object

In [13]:
pd.to_datetime(df['pickup_datetime'])

0        2015-05-07 19:52:06+00:00
1        2009-07-17 20:04:56+00:00
2        2009-08-24 21:45:00+00:00
3        2009-06-26 08:22:21+00:00
4        2014-08-28 17:47:00+00:00
                    ...
199995   2012-10-28 10:49:00+00:00
199996   2014-03-14 01:09:00+00:00
199997   2009-06-29 00:42:00+00:00
199998   2015-05-20 14:56:25+00:00
199999   2010-05-15 04:08:00+00:00
Name: pickup_datetime, Length: 200000, dtype: datetime64[ns, UTC]

In [14]:
df.dropna()

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5
...,...,...,...,...,...,...,...,...
199995,42598914,3.0,2012-10-28 10:49:00 UTC,-73.987042,40.739367,-73.986525,40.740297,1
199996,16382965,7.5,2014-03-14 01:09:00 UTC,-73.984722,40.736837,-74.006672,40.739620,1
199997,27804658,30.9,2009-06-29 00:42:00 UTC,-73.986017,40.756487,-73.858957,40.692588,2
199998,20259894,14.5,2015-05-20 14:56:25 UTC,-73.997124,40.725452,-73.983215,40.695416,1
199999,11951496,14.1,2010-05-15 04:08:00 UTC,-73.984395,40.720077,-73.985508,40.768793,1

In [16]:
df_cleaned = df.dropna(subset=['fare_amount'])
average_fare_amount = df_cleaned['fare_amount'].mean()
print("Average fare amount:", average_fare_amount)

Average fare amount: 11.359955250000626

 Function to calculate Haversine distance

In [27]:
def haversine(lat1, lon1, lat2, lon2):
    R = 6371.0
    lat1, lon1, lat2, lon2 = np.radians([lat1, lon1, lat2, lon2])
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = np.sin(dlat / 2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon / 2)**2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))
    distance = R * c
    return distance

df['haversine_distance'] = df.apply(lambda row: haversine(row['pickup_latitude'], row['pickup_longitude'], row['dropoff_latitude'], row['dropoff_longitude']), axis=1)

median_haversine_distance = df['haversine_distance'].median()
print("Median Haversine distance:", median_haversine_distance)

Median Haversine distance: 2.1209923961833708

In [28]:
max_haversine_distance = df['haversine_distance'].max()
print("Maximum Haversine distance:", max_haversine_distance)

Maximum Haversine distance: 16409.239135313168

In [29]:
zero_haversine_count = (df['haversine_distance'] == 0.0).sum()
print("Number of rides with 0.0 Haversine distance:", zero_haversine_count)

Number of rides with 0.0 Haversine distance: 5632

In [30]:
mean_fare_amount_zero_haversine = df[df['haversine_distance'] == 0.0]['fare_amount'].mean()
print("Mean 'fare_amount' for rides with 0.0 Haversine distance:", mean_fare_amount_zero_haversine)

Mean 'fare_amount' for rides with 0.0 Haversine distance: 11.585317826704578

In [31]:
max_fare_amount = df['fare_amount'].max()
print("Maximum 'fare_amount' for a ride:", max_fare_amount)

Maximum 'fare_amount' for a ride: 499.0

In [32]:
costliest_ride = df[df['fare_amount'] == df['fare_amount'].max()]
haversine_distance_costliest_ride = haversine(
    costliest_ride['pickup_latitude'].values[0],
    costliest_ride['pickup_longitude'].values[0],
    costliest_ride['dropoff_latitude'].values[0],
    costliest_ride['dropoff_longitude'].values[0]
)
print("Haversine distance for the costliest ride:", haversine_distance_costliest_ride)

Haversine distance for the costliest ride: 0.0007899213191009994

In [34]:
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])
df['pickup_year'] = df['pickup_datetime'].dt.year
rides_in_2014 = (df['pickup_year'] == 2014).sum()
print("Number of rides recorded in the year 2014:", rides_in_2014)

Number of rides recorded in the year 2014: 29968

In [35]:
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])
df['pickup_year'] = df['pickup_datetime'].dt.year
df['pickup_quarter'] = df['pickup_datetime'].dt.quarter
rides_in_q1_2014 = ((df['pickup_year'] == 2014) & (df['pickup_quarter'] == 1)).sum()
print("Number of rides recorded in the first quarter of 2014:", rides_in_q1_2014)

Number of rides recorded in the first quarter of 2014: 7687

In [37]:
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])
df['pickup_year'] = df['pickup_datetime'].dt.year
df['pickup_month'] = df['pickup_datetime'].dt.month
df['pickup_day_of_week'] = df['pickup_datetime'].dt.day_name()
rides_in_september_2010 = (df['pickup_year'] == 2010) & (df['pickup_month'] == 9)
rides_by_day_of_week = df[rides_in_september_2010]['pickup_day_of_week'].value_counts()
day_with_maximum_rides = rides_by_day_of_week.idxmax()
print("On which day of the week in September 2010, maximum rides were recorded:", day_with_maximum_rides)

On which day of the week in September 2010, maximum rides were recorded: Thursday

In [46]:
# Assuming your DataFrame is named 'df'
column_names = df.columns

# Print the column names
print(column_names)

Index(['ride_id', 'fare_amount', 'pickup_datetime', 'pickup_longitude',
       'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude',
       'passenger_count', 'haversine_distance', 'pickup_year',
       'pickup_quarter', 'pickup_month', 'pickup_day_of_week'],
      dtype='object')

In [50]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import r2_score

# Check for missing values in the DataFrame
missing_values = df.isnull().sum()
print("Missing Values:")
print(missing_values)

# Drop rows with missing values
df.dropna(inplace=True)

# Define the input features (X) and the target variable (y)
X = df[['passenger_count', 'haversine_distance', 'pickup_year', 'pickup_month', 'pickup_day_of_week_Saturday', 'pickup_day_of_week_Sunday', 'pickup_day_of_week_Thursday', 'pickup_day_of_week_Tuesday', 'pickup_day_of_week_Wednesday']]
y = df['fare_amount']

# Split the data into training and testing sets (70-30 split)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

models = {
    'Linear Regression': LinearRegression(),
    'Decision Tree Regressor': DecisionTreeRegressor(),
    'Random Forest Regressor': RandomForestRegressor(),
    'K-Nearest Neighbors Regressor': KNeighborsRegressor()
}

adjusted_r2_values = {}

for model_name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    r2 = r2_score(y_test, y_pred)
    n = X_test.shape[0]  
    p = X_test.shape[1]  
    adjusted_r2 = 1 - (1 - r2) * ((n - 1) / (n - p - 1))
    adjusted_r2_values[model_name] = adjusted_r2

min_adjusted_r2_model = min(adjusted_r2_values, key=adjusted_r2_values.get)

print("Adjusted R-squared values:")
for model_name, adjusted_r2 in adjusted_r2_values.items():
    print(f"{model_name}: {adjusted_r2}")

print(f"The algorithm with the least adjusted R-squared value is {min_adjusted_r2_model}.")

Missing Values:
ride_id                         0
fare_amount                     0
pickup_datetime                 0
pickup_longitude                0
pickup_latitude                 0
dropoff_longitude               0
dropoff_latitude                0
passenger_count                 0
haversine_distance              0
pickup_year                     0
pickup_quarter                  0
pickup_month                    0
pickup_day_of_week_Monday       0
pickup_day_of_week_Saturday     0
pickup_day_of_week_Sunday       0
pickup_day_of_week_Thursday     0
pickup_day_of_week_Tuesday      0
pickup_day_of_week_Wednesday    0
dtype: int64
Adjusted R-squared values:
Linear Regression: 0.015313701699371296
Decision Tree Regressor: 0.49338702392492106
Random Forest Regressor: 0.6621804867427071
K-Nearest Neighbors Regressor: 0.6513636457648535
The algorithm with the least adjusted R-squared value is Linear Regression.

In [59]:
print(df.columns)

Index(['ride_id', 'fare_amount', 'pickup_datetime', 'pickup_longitude',
       'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude',
       'passenger_count', 'haversine_distance', 'pickup_year',
       'pickup_quarter', 'pickup_month', 'pickup_day_of_week_Monday',
       'pickup_day_of_week_Saturday', 'pickup_day_of_week_Sunday',
       'pickup_day_of_week_Thursday', 'pickup_day_of_week_Tuesday',
       'pickup_day_of_week_Wednesday'],
      dtype='object')

In [93]:
# Print the column names in your DataFrame
print(df.columns)

# Update the 'features' list to match the column names in your DataFrame
features = ['passenger_count', 'haversine_distance', 'pickup_day_of_week']

Index(['ride_id', 'fare_amount', 'pickup_datetime', 'pickup_longitude',
       'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude',
       'passenger_count'],
      dtype='object')

In [94]:
features = ['passenger_count', 'pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude']

In [97]:
# Create a copy of the DataFrame
X = df[features].copy()

# Handle missing values (if any) in the copied DataFrame
X.fillna(0, inplace=True)

# Split the data into train and test sets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [98]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

linear_regression = LinearRegression()
linear_regression.fit(X_train, y_train)
y_pred = linear_regression.predict(X_test)
linear_regression_r2 = r2_score(y_test, y_pred)

print("Linear Regression R^2 Score:", linear_regression_r2)

Linear Regression R^2 Score: 0.00034046739678372795

In [99]:
from sklearn.tree import DecisionTreeRegressor

decision_tree_regressor = DecisionTreeRegressor(random_state=42)
decision_tree_regressor.fit(X_train, y_train)
decision_tree_r2 = decision_tree_regressor.score(X_test, y_test)

print("Decision Tree Regressor R^2 Score:", decision_tree_r2)

Decision Tree Regressor R^2 Score: 0.5556450482225579

In [115]:


# Get the number of rows and columns
num_rows, num_columns = df.shape

print("Number of Rows:", num_rows)
print("Number of Columns:", num_columns)

Number of Rows: 200000
Number of Columns: 8

In [119]:
from sklearn.ensemble import RandomForestRegressor

# Subsample a portion of your training data (adjust the fraction as needed)
sample_fraction = 0.1
sample_size = int(len(X_train) * sample_fraction)
X_train_subsampled = X_train[:sample_size]
y_train_subsampled = y_train[:sample_size]

# Initialize and fit the RandomForestRegressor model with fewer trees
random_forest_regressor = RandomForestRegressor(n_estimators=5, random_state=42, n_jobs=-1)
random_forest_regressor.fit(X_train_subsampled, y_train_subsampled)

# Make predictions on the test set
y_pred = random_forest_regressor.predict(X_test)

# Calculate R^2 score
from sklearn.metrics import r2_score
random_forest_r2 = r2_score(y_test, y_pred)

print("Random Forest Regressor R^2 Score:", random_forest_r2)

Random Forest Regressor R^2 Score: 0.6468073708472508

In [125]:
# Initialize and fit the KNN Regressor model with fewer neighbors
knn_regressor = KNeighborsRegressor(n_neighbors=3)  # Adjust the number of neighbors as needed
knn_regressor.fit(X_train, y_train)

# Make predictions on the subsampled test set
y_pred_knn = knn_regressor.predict(X_test_subsampled)

# Calculate R^2 score for KNN Regressor
knn_r2 = r2_score(y_test_subsampled, y_pred_knn)

print("KNN Regressor R^2 Score:", knn_r2)

KNN Regressor R^2 Score: 0.7415787449601723